@import '../../node_modules/modern-normalize/modern-normalize.css';
@import '../../node_modules/prismjs/themes/prism-tomorrow';

body {
  background: linear-gradient(90deg, #e3ffe7 0%, #d9e7ff 100%);
}

$color--text: rgb(40, 40, 40);
$color--code-bg: #2d2d2d;

.container {
  max-width: 1200px;
  padding: 0 20px;
  margin: 100px auto;
  &--title {
  }
}

.section {
  &--code {
    background-color: $color--code-bg;
    color: white;
    border-radius: 8px;
    padding: 0 25px;
    margin: 30px 0;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
    max-width: 100%;

    pre[class*='language-'],
    code[class*='language-'] {
      padding: 1em 0;
      white-space: pre-wrap;
    }

    pre {
      padding-bottom: 0;
    }
  }
}

pre {
  white-space: pre-wrap;
  word-break: keep-all;
}

.h1 {
  font-size: 3rem;
  text-align: center;
  color: rgb(24, 111, 114);
}
.subtitle {
  font-size: 1.4rem;
  font-weight: 300;
  line-height: 1.5;
  color: $color--text;
}
p {
  color: $color--text;
  line-height: 1.4;
}
.btn {
  margin-top: 30px;
  padding: 13px 30px 15px;
  font-size: 1.4rem;
  border-radius: 6px;
  outline: none;
  border: none;
  color: white;
  background-color: blue;
  cursor: pointer;
}

// Example helicopter
.section--example-helicopter {
  position: relative;
  background: linear-gradient(to top, #c0efff, #5ca2ff);
  box-shadow: 0 10px 50px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  height: 600px;
  display: flex;
  overflow: hidden;
}
.helicopter {
  font-size: 5rem;
  transform-origin: top center;
  margin: auto;
  pointer-events: none;
  will-change: transform;
}

// Example from to sailbot
.section--example-from-to {
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background: linear-gradient(to bottom, #c0efff, #5ca2ff);
  box-shadow: 0 10px 50px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  height: 140px;
  margin-top: 40px;
  padding: 20px 100px;
}
.sailboat {
  position: relative;
  font-size: 5rem;
  transform-origin: 30% 50%;
  transform: scaleX(-1);
  width: 100px;
  margin-left: -50px;
  margin-right: -50px;
  transition: transform 0.1s linear;
  will-change: transform;
}

.demo-button {
  margin: 40px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 200px;
  width: 200px;
  border-radius: 100px;
  font-size: 2rem;
  cursor: pointer;
  border: none;
  background-color: rgb(173, 17, 33);
  color: white;
  will-change: transform;
}

// Example spider
.section--example-spider {
  position: relative;
  display: flex;
  justify-content: center;
  height: 600px;
  border-radius: 10px;
  background: radial-gradient(circle at 0% 80%, rgb(255, 55, 78) 0%, rgb(129, 19, 19) 100%);
  box-shadow: 0 10px 50px rgba(0, 0, 0, 0.3);
  overflow: hidden;
}
.spider {
  position: relative;
  font-size: 5rem;
  text-shadow: -2.5px 4px 5px rgba(0, 0, 0, 0.4), -5px 10px 5px rgba(0, 0, 0, 0.2), -7.5px 15px 5px rgba(0, 0, 0, 0.1),
    -10px 20px 10px rgba(0, 0, 0, 0.2);
  &__body {
    transform: rotate(180deg);
  }
  &__thread {
    position: absolute;
    bottom: calc(100% - 30px);
    left: 50%;
    width: 1px;
    height: 200vh;
    z-index: -1;
    background: linear-gradient(
      191deg,
      rgba(205, 205, 205, 1) 44%,
      rgba(238, 238, 238, 1) 64%,
      rgba(144, 144, 144, 1) 79%,
      rgba(232, 232, 232, 1) 92%,
      rgba(124, 124, 124, 1) 100%
    );
  }
}
