
html {
  height: 100vh;
}

.box-parent {
  display: inline-block;
  padding: 100px;
  background-color: red;
  top: 200px;
  left: 200px;
  position: fixed;
}

.box {
  position: relative;
  height: 100px;
  width: 100px;
  background: teal;
  border-radius: 6px;
  position: relative;
  .box-child {
    position: absolute;
    top: 0;
    left: calc(100% - 10px);
    height: 20px;
    width: 300px;
    border-radius: 10px;
    background-color: blue;
    transform-origin: left;
  }
}